<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">

    <title>Register page</title>
</head>

<body>
  <header>
    Home <br />
    <h1>Register in NRIIT Learning Management</h1>
    <p>Learn Practice Get Placed</p>
    <nav>
     <a href="/">Home</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
        <a href="courses">Courses</a>
        <a href="login">Login</a>
        <a href="register">Register</a>
        <a href="trainers">Trainers</a>
    </nav>
    <hr>
    </header>
    <main>
        <h2>Student Registration </h2>

        <form  id="registerForm">
            <label>Full Name</label>
            <input type="text" placeholder="Enter Your Name" id="name"><br><br>
            <label>Email</label>
            <input type="email" placeholder="Enter your email" id="email"><br><br>
            <label>Password</label>
            <input type="password" placeholder="Enter Your Password" id="password"><br><br>
            <label>Date of Birth</label>
            <input type="date" id="date"><br><br>
            <label>Gender</label>
            <input type="radio" name="gender" value="male" id="male">Male
            <input type="radio" name="gender" value="female" id="female">Female
            <br><br>

            <label>Select Course</label>
             <select id="course" name="course">
                <option value="python">Python FullStack</option>
                <option value="java">Java FullStack</option>
                <option value="datascience">Data Science</option>
            </select>
            <br><br>
            <button type="submit">Register</button> 
        </form>
    </main>
    <script src="js/script.js"></script>
    <footer>

        <hr>

        <p>&copy; 2026 NRIIT Learning Management System</p>

        <p>Email: info@nriit.edu</p>

        <p>Phone: +91 9876543210</p>

        <p>Follow Us:</p>

        <a href="#">Facebook</a> |

        <a href="#">Instagram</a> |

        <a href="#">LinkedIn</a>

    </footer>

</body>

</html>